USE [master]
GO
/****** Object:  Database [PetRescueDb]    Script Date: 11/11/2024 8:39:12 PM ******/
CREATE DATABASE [PetRescueDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetRescueDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUY_THUAN\MSSQL\DATA\PetRescueDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetRescueDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUY_THUAN\MSSQL\DATA\PetRescueDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetRescueDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetRescueDb]
GO
/****** Object:  Table [dbo].[AdoptionApplication]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionApplication](
	[ApplicationID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PetID] [uniqueidentifier] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[DonationID] [uniqueidentifier] NOT NULL,
	[EventID] [uniqueidentifier] NULL,
	[ShelterID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DonationDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Notes] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DonationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [uniqueidentifier] NOT NULL,
	[ShelterID] [uniqueidentifier] NULL,
	[ImageURL] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NULL,
	[Location] [nvarchar](255) NULL,
	[Status] [nvarchar](255) NOT NULL,
	[EventType] [nvarchar](255) NOT NULL,
	[Goal] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[PetID] [uniqueidentifier] NOT NULL,
	[ShelterID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](10) NULL,
	[Description] [nvarchar](255) NULL,
	[Species] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[ArrivalDate] [date] NULL,
	[PhotoURL] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shelter]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shelter](
	[ShelterID] [uniqueidentifier] NOT NULL,
	[ShelterName] [nvarchar](255) NOT NULL,
	[ShelterAddress] [nvarchar](255) NOT NULL,
	[ShelterPhoneNumber] [nvarchar](255) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[UsersID] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShelterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/11/2024 8:39:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'd290f1ee-6c54-4b01-90e6-d701748f0851', N'Administrator')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'f3c8d4e5-6b7a-4c9d-8e2f-0a1b2c3d4e5f', N'ShelterOwner')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'e7b8f3d2-4a2f-4c3b-8f4d-9c5d8a3e1b2c', N'User')
GO
INSERT [dbo].[Shelter] ([ShelterID], [ShelterName], [ShelterAddress], [ShelterPhoneNumber], [Balance], [UsersID]) VALUES (N'da5e52ca-9c82-406a-a179-091fbd331de2', N'asd', N'12321312', N'98324677', CAST(0.00 AS Decimal(18, 2)), N'1bf22671-26f9-40ba-a449-c42b8aec3fca')
INSERT [dbo].[Shelter] ([ShelterID], [ShelterName], [ShelterAddress], [ShelterPhoneNumber], [Balance], [UsersID]) VALUES (N'7a7bf4bf-5f44-47b8-9a85-b8b48a96e9c3', N'asdasd', N'asd', N'12321312', CAST(0.00 AS Decimal(18, 2)), N'3f21226b-30c1-4274-81a6-2ed9d9e0c54c')
GO
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PhoneNumber], [Address], [PasswordHash], [RoleID], [Status], [Image]) VALUES (N'b8de6a08-1d93-4069-b877-613db7cfa033', N'Victoria', N'Beckhamas', N'user3@gmail.com', N'98324677', N'12321312', N'qJ8kIO8VEkb9XnCfVcFO69367sPPhz7jRKNYKGfX+MRDk6r/', N'e7b8f3d2-4a2f-4c3b-8f4d-9c5d8a3e1b2c', N'INACTIVE', 0x)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [PhoneNumber], [Address], [PasswordHash], [RoleID], [Status], [Image]) VALUES (N'1bf22671-26f9-40ba-a449-c42b8aec3fca', N'Victoria', N'Beckhamas', N'user2@gmail.com', N'98324677', N'12321312', N'17EIhUiP+kFaz+oYIdHrBiAzchPfjHNnpdDP1diTpA1c3Yx8', N'd290f1ee-6c54-4b01-90e6-d701748f0851', N'ACTIVE', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [role_rolename_unique]    Script Date: 11/11/2024 8:39:13 PM ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [role_rolename_unique] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [user_email_unique]    Script Date: 11/11/2024 8:39:13 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [user_email_unique] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdoptionApplication] ADD  DEFAULT (newid()) FOR [ApplicationID]
GO
ALTER TABLE [dbo].[AdoptionApplication] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT (newid()) FOR [DonationID]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT (getdate()) FOR [DonationDate]
GO
ALTER TABLE [dbo].[Event] ADD  DEFAULT (newid()) FOR [EventID]
GO
ALTER TABLE [dbo].[Pet] ADD  DEFAULT (newid()) FOR [PetID]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (newid()) FOR [RoleID]
GO
ALTER TABLE [dbo].[Shelter] ADD  DEFAULT (newid()) FOR [ShelterID]
GO
ALTER TABLE [dbo].[Shelter] ADD  DEFAULT ((0.00)) FOR [Balance]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[AdoptionApplication]  WITH CHECK ADD  CONSTRAINT [adoptionapplication_petid_foreign] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet] ([PetID])
GO
ALTER TABLE [dbo].[AdoptionApplication] CHECK CONSTRAINT [adoptionapplication_petid_foreign]
GO
ALTER TABLE [dbo].[AdoptionApplication]  WITH CHECK ADD  CONSTRAINT [adoptionapplication_userid_foreign] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[AdoptionApplication] CHECK CONSTRAINT [adoptionapplication_userid_foreign]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [donation_eventid_foreign] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [donation_eventid_foreign]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [donation_shelterid_foreign] FOREIGN KEY([ShelterID])
REFERENCES [dbo].[Shelter] ([ShelterID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [donation_shelterid_foreign]
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD  CONSTRAINT [donation_userid_foreign] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Donation] CHECK CONSTRAINT [donation_userid_foreign]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [event_shelterid_foreign] FOREIGN KEY([ShelterID])
REFERENCES [dbo].[Shelter] ([ShelterID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [event_shelterid_foreign]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [pet_shelterid_foreign] FOREIGN KEY([ShelterID])
REFERENCES [dbo].[Shelter] ([ShelterID])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [pet_shelterid_foreign]
GO
ALTER TABLE [dbo].[Shelter]  WITH CHECK ADD  CONSTRAINT [shelter_usersid_foreign] FOREIGN KEY([UsersID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Shelter] CHECK CONSTRAINT [shelter_usersid_foreign]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [user_roleid_foreign] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [user_roleid_foreign]
GO
USE [master]
GO
