@page
@model PetRescueFE.Pages.ShelterPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shelter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shelter.ShelterName" class="control-label"></label>
                <input asp-for="Shelter.ShelterName" class="form-control" />
                <span asp-validation-for="Shelter.ShelterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelter.ShelterAddress" class="control-label"></label>
                <input asp-for="Shelter.ShelterAddress" class="form-control" />
                <span asp-validation-for="Shelter.ShelterAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelter.ShelterPhoneNumber" class="control-label"></label>
                <input asp-for="Shelter.ShelterPhoneNumber" class="form-control" />
                <span asp-validation-for="Shelter.ShelterPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelter.UserEmail" class="control-label"></label>
                <input asp-for="Shelter.UserEmail" class="form-control" />
                <span asp-validation-for="Shelter.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
