@page
@model PetRescueFE.Pages.AuthorizationErrorModel
@{
    ViewData["Title"] = "Authorization Error";
}

<h1>Authorization Error</h1>
<p>You do not have permission to access this page.</p>

<a asp-page="/Index">Return to Index</a>